<template>
  <form @submit.prevent="saveAddress">
    <p><strong>Please enter your address information</strong></p>
    <div class="form-group">
      <label for="street">Street</label>
      <input v-model="street" class="form-control" type="text" name="street" required>
      <label for="house_number">House Number</label>
      <input v-model="house_number" class="form-control" type="text" name="house_number" required>
      <label for="zipcode">Zipcode</label>
      <input v-model="zipcode" class="form-control" type="text" name="zipcode" required>
      <label for="city">City</label>
      <input v-model="city" class="form-control" type="text" name="city" required>
    </div>
      <router-link class="btn btn btn-warning" to="/personal">Back</router-link>
      <button type="submit" class="btn btn-primary pull-right">Next</button>
  </form>
</template>

<script>
export default {
  data: function () {
    return {
      street: '',
      house_number: '',
      zipcode: '',
      city: ''
    }
  },
  mounted () {
    if (localStorage.street) {
      this.street = localStorage.street
    }
    if (localStorage.house_number) {
      this.house_number = localStorage.house_number
    }
    if (localStorage.zipcode) {
      this.zipcode = localStorage.zipcode
    }
    if (localStorage.city) {
      this.city = localStorage.city
    }
    localStorage.step = 'address'
  },
  methods: {
    saveAddress: function () {
      localStorage.street = this.street
      localStorage.house_number = this.house_number
      localStorage.zipcode = this.zipcode
      localStorage.city = this.city
      this.$router.push('payment')
    }
  }
}
</script>
