<template>
  <div>
    <form v-if="!submitted" @submit.prevent="savePayment">
      <p><strong>Please enter your address information</strong></p>
      <div class="form-group">
        <label for="account_owner">Account Owner</label>
        <input v-model="account_owner" class="form-control" type="text" name="account_owner" required>
        <label for="iban">IBAN</label>
        <input v-model="iban" class="form-control" type="text" name="iban" required>
      </div>
        <router-link class="btn btn btn-warning" to="/address">Back</router-link>
        <button type="submit" class="btn btn-primary pull-right">Next</button>
    </form>
    <div v-else v-cloak>
      <div v-if="paymentDataId">
        <h1>We have successfully processed your payment data.</h1>
        <p><strong>{{ paymentDataId }}</strong></p>
      </div>
      <div v-else>
        <p><strong>There was an error processing your request.</strong></p>
      </div>
    </div>
  </div>
</template>

<script>

const axios = require('axios')

export default {
  data: function () {
    return {
      account_owner: '',
      iban: '',
      paymentDataId: null,
      submitted: false
    }
  },
  mounted () {
    if (localStorage.first_name && localStorage.last_name) {
      this.account_owner = localStorage.first_name + ' ' + localStorage.last_name
    }
    localStorage.step = 'payment'
  },
  methods: {
    savePayment: function () {
      axios.post('/payments', {
        Personal: {
          first_name: localStorage.first_name,
          last_name: localStorage.last_name,
          phone_number: localStorage.phone_number
        },
        Address: {
          street: localStorage.street,
          house_number: localStorage.house_number,
          zipcode: localStorage.zipcode,
          city: localStorage.city
        },
        Payment: {
          account_owner: this.account_owner,
          iban: this.iban
        }
      })
        .then((response) => {
          if (response.status === 201) {
            localStorage.clear()
            this.paymentDataId = response.data.paymentDataId
            this.submitted = true
          }
        })
        .catch(function (error) {
          alert(error.response.data.errorMessage)
        })
    }
  }
}
</script>
