<template>
  <form @submit.prevent="savePersonal">
    <p><strong>Please enter your personal information</strong></p>
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input v-model="first_name" class="form-control" type="text" name="first_name" required>
      <label for="last_name">Last Name</label>
      <input v-model="last_name" class="form-control" type="text" name="last_name" required>
      <label for="phone_number">Phone Number</label>
      <input v-model="phone_number" class="form-control" type="tel" name="phone_number" required>
    </div>
    <router-link class="btn btn btn-warning" to="/">Back</router-link>
    <button type="submit" class="btn btn-primary pull-right">Next</button>
  </form>
</template>

<script>
export default {
  data: function () {
    return {
      first_name: '',
      last_name: '',
      phone_number: ''
    }
  },
  mounted () {
    if (localStorage.first_name) {
      this.first_name = localStorage.first_name
    }
    if (localStorage.last_name) {
      this.last_name = localStorage.last_name
    }
    if (localStorage.phone_number) {
      this.phone_number = localStorage.phone_number
    }
    localStorage.step = 'personal'
  },
  methods: {
    savePersonal: function () {
      localStorage.first_name = this.first_name
      localStorage.last_name = this.last_name
      localStorage.phone_number = this.phone_number
      this.$router.push('address')
    }
  }
}
</script>
