<template>
  <div>
    <h1>Welcome to the Wunder Mobility test assignment!</h1>
    <p>Please click Begin to proceed.</p>
    <router-link class="btn btn-lg btn-primary" to="/personal">Begin</router-link>
  </div>
</template>

<script>

export default {
  name: 'WM'
}
</script>
